@import "variables";
@import "mixins";

body {
    background: $bg;
    a {
        color: blue;
    }
}

h1 {
    @include sexyTitle();
}

h2 {
    color: blue;
    font-size: $title;
}

.box {
    margin-top: 20px;

    /* nesting */
    h2 {
        color: white;
        &:hover {
            color: yellow;
        }
    }
    button {
        background-color: green;
    }
    &:hover {
        background-color: orange;
    }
}

/*
.box h2 {
    color: white;
}

.box button {
    background-color: green;
}
*/

/* 
.box:hover {
    background-color: orange;
}
*/

// a {
//     @include link(black);
// }

// a:nth-child(odd) {
//     @include link(blue);
// }

// a:nth-child(even) {
//     @include link(pink);
// }

a {
    margin-bottom: 10px;
    &:nth-child(odd) {
        // @include link(blue);
        @include link2("odd");
    }
    &:nth-child(even) {
        // @include link(pink);
        @include link2("even");
    }
}
